<div id="top">
	<div class="wrapper menuHeader">    	
        <a id="logo" href="{$basedomain}home">&nbsp;</a>
        {*}<div style="float:left;">
        	<a class="boxbtn userName">Hi, {$user->name}</a>
        </div>{/*}
        <a class="boxbtn logoutButton" href="{$basedomain}logout.php"><span class="ico icon-lock">&nbsp;</span><span>Logout</span></a>
        <a class="boxbtn {if $pages == 'reports'}active{/if}" href="{$basedomain}reports"><span class="ico icon-dashboard">&nbsp;</span><span>Report</span></a>
        <a class="boxbtn {if $pages == 'users'}active{/if}" href="{$basedomain}users"><span class="ico icon-users">&nbsp;</span><span>Manage Users</span></a>
        {*}<a class="boxbtn {if $pages == 'home'}active{/if}" href="{$basedomain}home" >Project</a>{/*}
        

    </div><!-- end .wrapper -->  
    
</div><!-- end #top --> 