{if $user->leaderdetail->type==1}
<div id="theContainer" class="inboxPage">
    <div class="theContainer">
		<div class="head-title">
			<h1 class="fl">This Page For Highest User Leveling Only.</h1>
		</div>
	</div>
</div>
{else}  
<div id="theContainer" class="inboxPage">
    <div class="theContainer">
        <div class="head-title">
            <h1 class="fl">{if $act==commentList}Comment Moderation{elseif $act==venueList}Venue Moderation{else}Post Moderation{/if}</h1>
            {*}
            <a href="{$basedomain}{if $act==commentList}moderation{else}moderation/commentList{/if}" class="fr button2">{if $act==commentList}Post Moderation{else}Comment Moderation{/if}</a><br><br>
			<a href="{$basedomain}moderation/venueList" class="fr button2">venue Moderation</a>
            {/*}
			 <div class="short2 fr Short-By">
                <form method="POST" action="{$basedomain}{if $timeline}moderation{else}moderation/commentList{/if}" id="shorter">
                    <label>Moderation Type</label>
                    <select class="styled" id='moderationtype'>
                        <option value='commentList' {if $act=='commentList'}selected{/if} >Comment</option>
                        <option value='' {if $act==''}selected{/if} >Post</option>
						{if $user->leaderdetail->type >= 100}
                        <option value='venueList' {if $act=='venueList'}selected{/if} >Venue</option>
						{/if}
                    </select>
                </form>
            </div><!-- /.short -->
        </div> <!-- /.head-title -->
        <div class="short2">
            <form method="POST" action="{$basedomain}{if $timeline}moderation{elseif $act eq 'venueList'}moderation/venueList{else}moderation/commentList{/if}" id="shorter">
                {if $act eq 'venueList'}
                	
                {else}
                <div class="date-range fl">
					<label>Timespan</label>
					<input type="text" class="half-width" id="datepicker" name="startdate" value="{$startdate}"/>
					<span>to</span>
					<input type="text" class="half-width" id="datepicker2" name="enddate" value="{$enddate}"/>
                </div>
                {/if}
				
                
				
                <div class="input-append fr">
                	{if $act eq 'venueList'}
                		<div style="margin-right:10px;display:inline;">
		                	<input class="searchType" type="radio" name="searchType" value="1" {if $searchType eq '1'}checked{/if}>Venue
							<input class="searchType" type="radio" name="searchType" value="2" {if $searchType eq '2'}checked{/if}>City
	                	</div>
	                {/if}
                    <input type="text" size="16" id="search" name="search" class="span2" onfocus="if(this.value=='Search...')this.value='';" onblur="if(this.value=='')this.value='Search...';" value="{if $search}{$search}{else}Search...{/if}"/>
					<input type="hidden" name="filter" value="searchform"/>
					<button type="submit" class="btn">Go!</button>
                </div>
            </form>
        </div><!-- /.short -->
        <div class="theContent">
			{if $timeline}
				{section loop=$timeline name=i}
				<div class="rows">
					<a href="{$basedomain}{$pages}/detail/{$timeline[i].id}" class="thumbsmall fl"><img src="{$basedomain}public_assets/user/photo/{if $timeline[i].author.img}small_{$timeline[i].author.img}{else}default.jpg{/if}" /></a>
					<div class="entries fl">
						<h3 class="username fl">{$timeline[i].author.name|capitalize}</h3>
						{*}<span class="date fr">{$timeline[i].posted_date|date_format:"%e %B %Y %H:%M:%S"}</span>{/*}
						<span class="date fr">{$timeline[i].posted_date|date_format:"%e/%m/%Y %H:%M"}</span>
						<p>{$timeline[i].title|truncate:100}</p>
					</div> <!-- /.entries -->
					<a class="icons icon_expand" href="{$basedomain}{$pages}/detail/{$timeline[i].id}">&nbsp;</a>
					{if $user->leaderdetail->type!=1}
						<a class="icons icon_delete showPopup" href="{$basedomain}{$pages}/unpublish/{$timeline[i].id}" onclick="return confirm('Are you sure you want to remove the selected comment?') ">&nbsp;</a>
					
					{else} 
						
					{/if}
					
				</div><!-- /.rows -->
				{/section}
			{/if}
			
			{if $comment}
				{if $comment}
					{section loop=$comment name=i}
					<div class="rows">
						<a href="{$basedomain}moderation/detail/{$comment[i].contentid}" class="thumbsmall fl"><img src="{$basedomain}public_assets/user/photo/{if $comment[i].img}small_{$comment[i].img}{else}default.jpg{/if}" /></a>
						<div class="entries fl">
							<h3 class="username fl">{$comment[i].name|capitalize}</h3>
							<span class="date fr">{$comment[i].date|date_format:"%e/%m/%Y %H:%M"}</span>
							<p>{$comment[i].comment}</p>
						</div> <!-- /.entries -->
						<a class="icons icon_expand" href="{$basedomain}moderation/detail/{$comment[i].contentid}">&nbsp;</a>
						{if $user->leaderdetail->type!=1}
						<a class="icons icon_delete showPopup" href="{$basedomain}{$pages}/uncomment/{$comment[i].id}" onclick="return confirm('Are you sure you want to remove the selected comment?') ">&nbsp;</a>
					
						{else} 
							
						{/if}
					</div><!-- /.rows -->
					{/section}
				{else}
					Tidak ada Komentar Moderasi
				{/if}
			{/if}
            
			{if $user->leaderdetail->type>=100}
				{if $venue}
					{section loop=$venue name=i}
						<div class="rows">
							<div class="entries-full fl">
								<h3 class="venueName fl">{$venue[i].venuename}</h3>
								<p class="venueAddress">{$venue[i].address}, {$venue[i].city}, {$venue[i].provinceName}</p>
							</div> <!-- /.entries -->
							<a class="icons icon_expand" href="{$basedomain}{$pages}/detailVenue/{$venue[i].id}">&nbsp;</a>
							
							{if $user->leaderdetail->type!=1}
								<a class="icons icon_delete showPopup" href="{$basedomain}{$pages}/unpublishvenue/{$venue[i].id}" onclick="return confirm('Are you sure you want to remove the selected comment?') ">&nbsp;</a>
							{else} 
							{/if}
							
							{*} <a class="label-green">Valid</a>
							<a class="label-red">Not Valid</a>{/*}					
						</div><!-- /.rows -->
					{/section}
				{/if}
			{else} 
				<!-- <br><h3 class="fl">This Sub Page for Specific User Leveling Only. </h3> <br> -->
			{/if}
			
        </div> <!-- /.theContent -->
		{if $timeline}
		
			<div class="paging" id="pagingpostmoderation"></div> <!-- END .paging -->			
			<script>
				var startdate = "{$startdate}";
				var enddate = "{$enddate}";
				var search = "{$search}";
				getpaging(0,{$total},"pagingpostmoderation","paging_ajax_postmoderation",10);
			</script>
		{/if}
		{if $comment}
			<div class="paging" id="pagingcommentmoderation"></div> <!-- END .paging -->
			<script>
				var startdate = "{$startdate}";
				var enddate = "{$enddate}";
				var search = "{$search}";
				getpaging(0,{$total},"pagingcommentmoderation","paging_ajax_commentmoderation",10);
			</script>
		{/if}
		{if $venue}
			<div class="paging" id="pagingvenuemoderation"></div> <!-- END .paging -->
			<script>
				var startdate = "{$startdate}";
				var enddate = "{$enddate}";
				var search = "{$search}";
				getpaging(0,{$total_venue},"pagingvenuemoderation","paging_ajax_venuemoderation",10);
			</script>
		{/if}
    </div> <!-- /.theContainer -->
</div> <!-- /#theContainer -->


{/if}


	<script>
		var searchType = '{$searchType}';
	{literal}
		$(document).on("change","#moderationtype",function(){
			var modetype = $(this).val();
			window.location = basedomain+"moderation/"+modetype;
		
		});

		$(document).ready(function(){
			$('input.searchType').on('change',function(){
				searchType = $(this).val();
			});
		});
	{/literal}
	</script>
