/* Responsive changes */
@media (max-width: 800px) {
	#section-how .box{
		min-height:300px;
	}
} 

@media only screen and (max-width: 670px) {
	.col-content,.col-sidebar,.col1,.col2,.col3,.col4,.col5,.col6{
		float:none;
		clear:both;
		width:100%;
	}
	.socialicon{
		clear:both;
		top:auto;
		width:190px;
		margin:0 auto;
		float:none;
	}
	.socialicon a span.ico{
		margin:0 15px 0 0;
	}
	.socialicon a span.icon-phone{
		margin:0;
	}
	#logo{
		display:block;
		float:none;
		margin:0 auto 20px auto;
	}
	.textRight,.textLeft{
		text-align:center;
	}
	#section-how .box,.img-how{
		margin:0 0 20px 0;
	}
	.row-head h2{
		font-size:24px;
	}
	#section-how .box{
		min-height:inherit;
	}

}

@media only screen and (max-width: 979px) {
	.wrapper{
		padding:0 20px;
	}
	
}
@media (max-width: 500px) {
	.promotitle h3{
		font-size:15px;
	}
    
}
@media (max-width: 480px) {
	.row-head h2{
		font-size:20px;
	}
	#section-how .row-head h2{
		font-size:26px;	
	}
	#headingbox h1{
		font-size:26px;
	}
	#headingbox h2{
		font-size:16px;
	}
	#section-button h2{
		font-size:20px;
	}
	a.blockbutton{
		margin:0 0 10px 0;
	}
}